
.login {
    background: var(--color2);
    width: 100%;
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}
.login__titulo {
    color: var(--color5);
    font-family: var(--fuente);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login__input {
    background: var(--colorBlanco);
    width: 275px;
    height: 41px;
    padding-top: 4px;
    box-shadow: 0 1px var(--color4);
    position: relative;
    margin-top: .5rem;
}
.input_email {
    color: var(--color4);
    border: none;
    width: 100%;
    font-family: var(--fuente);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding-left: 1rem;
}
.input_contraseña {
    outline: none;
    color: var(--color4);
    width: 100%;
    border: none;
    font-family: var(--fuente);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 1rem;
}
.input_contraseña::placeholder,
.input_email::placeholder{
    color: var(--color4);
}
.input_contraseña:focus,
.input_email:focus{
    color: var(--colorNegro);
}
.btn_entrar:hover{
    cursor: pointer;
}
.input_mensaje_error{
    position: absolute;
    color: var(--color1);
    font-size: 14px;
    left: 1rem;
    top: 5rem;
}
@media (min-width: 900px){
    .login__input {
        width: 423px;
        height: 63px;
        padding-top: 20px;
    }
    .login__titulo {
        font-size: 22px;
    }
    .btn_entrar{
        width: 423px !important;
    }
    .input_mensaje_error{
        position: absolute;
        color: var(--color1);
        font-size: 14px;
        margin: 1rem;
        left: 1rem;
        top: 6rem;
    }
}
@media (min-width: 576px) and (max-width: 899px){
    .login__titulo {
        font-size: 22px;
    }
    .login__input {
        width: 300px;
        height: 43px;
    }
}
